openapi: 3.0.3
info:
  title: ForwardMax B2B 중고차 수출 플랫폼 API
  version: 2.0.0
  description: |
    ForwardMax (carivdealer) Firebase Functions 기반 API 명세서
    
    - 기본 URL: `https://asia-northeast3-carivdealer.cloudfunctions.net`
    - 인증: Firebase Auth 토큰 (향후 구현)
    - 에러 응답: RFC 9457 Problem Details 형식
    
  contact:
    name: 개발팀
    email: dev@carivdealer.com

servers:
  - url: https://asia-northeast3-carivdealer.cloudfunctions.net
    description: 프로덕션 서버

tags:
  - name: Order
    description: 주문 관리
  - name: Payment
    description: 결제 관리
  - name: Address
    description: 주소 관리
  - name: Review
    description: 리뷰 관리
  - name: Seller Docs
    description: 판매자 서류 관리

paths:
  /createOrderAPI:
    post:
      tags: [Order]
      summary: 주문 생성
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: 주문 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: 잘못된 요청
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '500':
          description: 서버 오류
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /getOrderAPI:
    get:
      tags: [Order]
      summary: 주문 단건 조회
      operationId: getOrder
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 조회 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '404':
          description: 주문을 찾을 수 없음
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /createPaymentAPI:
    post:
      tags: [Payment]
      summary: 결제 생성
      operationId: createPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
      responses:
        '201':
          description: 결제 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResponse'
        '400':
          description: 잘못된 요청
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /createAddressAPI:
    post:
      tags: [Address]
      summary: 주소 생성
      operationId: createAddress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddressRequest'
      responses:
        '201':
          description: 주소 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'

  /createReviewAPI:
    post:
      tags: [Review]
      summary: 리뷰 생성
      operationId: createReview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReviewRequest'
      responses:
        '201':
          description: 리뷰 생성 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewResponse'

components:
  schemas:
    ProblemDetail:
      type: object
      description: RFC 9457 Problem Details for HTTP APIs
      required:
        - type
        - status
        - title
        - detail
      properties:
        type:
          type: string
          format: uri
          description: 문제 유형 식별자
          example: https://api.carivdealer.com/errors#BadRequest
        status:
          type: integer
          description: HTTP 상태 코드
          example: 400
        title:
          type: string
          description: 짧은 요약
          example: Request Error
        detail:
          type: string
          description: 사람이 읽을 수 있는 상세 설명
          example: order_id is required
        instance:
          type: string
          description: 요청 경로
          example: /createOrderAPI
        traceId:
          type: string
          description: 요청 추적 ID
          example: trace-1738000000000-abc12def
        code:
          type: string
          description: 에러 코드 (확장)
          example: VALIDATION_ERROR

    CreateOrderRequest:
      type: object
      required:
        - listing_id
        - buyer_id
        - seller_id
        - vehicle_id
        - order_type
        - total_price
      properties:
        listing_id:
          type: string
        buyer_id:
          type: string
        seller_id:
          type: string
        vehicle_id:
          type: string
        order_type:
          type: string
          enum: [AUCTION, GENERAL, BUY_NOW]
        total_price:
          type: number
        platform_id:
          type: string

    Order:
      type: object
      properties:
        id:
          type: string
        platform_id:
          type: string
        listing_id:
          type: string
        buyer_id:
          type: string
        seller_id:
          type: string
        vehicle_id:
          type: string
        order_type:
          type: string
          enum: [AUCTION, GENERAL, BUY_NOW]
        total_price:
          type: number
        status:
          type: string
          enum: [PENDING, CONFIRMED, CANCELLED, COMPLETED]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OrderResponse:
      type: object
      properties:
        success:
          type: boolean
        order:
          $ref: '#/components/schemas/Order'

    CreatePaymentRequest:
      type: object
      required:
        - order_id
        - amount
        - method
      properties:
        order_id:
          type: string
        amount:
          type: number
        method:
          type: string
          enum: [CARD, BANK_TRANSFER, VIRTUAL_ACCOUNT, ESCROW]
        platform_id:
          type: string
        pg_provider:
          type: string
        pg_transaction_id:
          type: string

    Payment:
      type: object
      properties:
        id:
          type: string
        order_id:
          type: string
        platform_id:
          type: string
        amount:
          type: number
        method:
          type: string
          enum: [CARD, BANK_TRANSFER, VIRTUAL_ACCOUNT, ESCROW]
        status:
          type: string
          enum: [PENDING, COMPLETED, FAILED, REFUNDED, PARTIAL_REFUND]
        pg_provider:
          type: string
        pg_transaction_id:
          type: string
        paid_at:
          type: string
          format: date-time
        refunded_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    PaymentResponse:
      type: object
      properties:
        success:
          type: boolean
        payment:
          $ref: '#/components/schemas/Payment'

    CreateAddressRequest:
      type: object
      required:
        - user_id
        - address_type
        - postal_code
        - address1
      properties:
        user_id:
          type: string
        address_type:
          type: string
          enum: [HOME, WORK, DEALER]
        postal_code:
          type: string
        address1:
          type: string
        address2:
          type: string
        is_default:
          type: boolean
        platform_id:
          type: string

    Address:
      type: object
      properties:
        id:
          type: string
        platform_id:
          type: string
        user_id:
          type: string
        address_type:
          type: string
          enum: [HOME, WORK, DEALER]
        postal_code:
          type: string
        address1:
          type: string
        address2:
          type: string
        is_default:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AddressResponse:
      type: object
      properties:
        success:
          type: boolean
        address:
          $ref: '#/components/schemas/Address'

    CreateReviewRequest:
      type: object
      required:
        - order_id
        - reviewer_id
        - reviewee_id
        - rating
      properties:
        order_id:
          type: string
        reviewer_id:
          type: string
        reviewee_id:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        content:
          type: string
        platform_id:
          type: string

    Review:
      type: object
      properties:
        id:
          type: string
        platform_id:
          type: string
        order_id:
          type: string
        reviewer_id:
          type: string
        reviewee_id:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        content:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ReviewResponse:
      type: object
      properties:
        success:
          type: boolean
        review:
          $ref: '#/components/schemas/Review'
